DB_URL=jdbc:postgresql://localhost:5432/tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contrasenia

JWT_SECRET=TuClaveSuperSecretaYSuperLarga
CLOUD_NAME=tu_cloud
API_KEY=tu_key
API_SECRET=tu_secret

PORT=8080

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_usuario@gmail.com
MAIL_PASSWORD=tuclavesegura
MAIL_FROM=tu_usuario@gmail.com